.login-page, .register-page{
    min-height:100%;
    /* background:url(/assets/images/background.jpg); */
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.overlay {
    background: rgba(255,255,255,0.7);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 20%;
}

.triple-spinner {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #00a3d8;
    -webkit-animation: 2s spin linear infinite;
    animation: 2s spin linear infinite;
    z-index: 20;
}

.triple-spinner::before,
.triple-spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid transparent;
}
.triple-spinner::before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #066eb0;
    -webkit-animation: 3s spin linear infinite;
    animation: 3.5s spin linear infinite;
}
.triple-spinner::after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: #585858;
    -webkit-animation: 1.5s spin linear infinite;
    animation: 1.75s spin linear infinite;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/** Estilos Checkbox */

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 70%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 1.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    font-weight: 500!important;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
    font-family: 'Font Awesome 5 Free';
}

.funkyradio-success input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio-success input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
    font-family: 'Font Awesome 5 Free';
}

.funkyradio-danger input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio-danger input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2716';
    text-indent: .9em;
    color: #C2C2C2;
    font-family: 'Font Awesome 5 Free';
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #777;
    background-color: #ccc;
    font-family: 'Font Awesome 5 Free';
    font-weight: 500!important;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
    font-family: 'Font Awesome 5 Free';
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    content: '\2716';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
    font-family: 'Font Awesome 5 Free';
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}


.table.tabla_checklist td{
    padding: 5px 0px 0px 0px;
}

.funkyradio-success label{
    margin-bottom: 0.2rem;
}

.buscar_autocomp .autocomplete-input{
    padding: 6px 8px 6px 48px!important;
}

/** Circulos **/

#image_preview {
    position: relative; /* Add this since child are absolute! */
    background: #eee;
    /*margin: 15px;*/
    cursor: crosshair;
    display: inline-block;
}

#image_preview img {
    
    vertical-align: top;
}

.circle {
    position: absolute;
    background: rgba(255, 0, 0, 0.2) url("/assets/images/cruz.png") no-repeat 50% 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* use translate instead of JS calculations */
}

.radius {
    position: absolute;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.lista_ingreso label{
    width:100px;
}

/** Autocomplete light (delgado) **/

.complete-light-input {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    padding: 6px 12px 6px 48px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    flex: 1;
    background-color: #eee;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: 12px;
}
.complete-light-input:focus,
.complete-light-input[aria-expanded="true"] {
    border-color: rgba(0, 0, 0, 0.12);
    background-color: #fff;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
[data-position="below"] .complete-light-input[aria-expanded="true"] {
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
}
[data-position="above"] .complete-light-input[aria-expanded="true"] {
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 2;
}
.complete-light[data-loading="true"]:after {
    content: "";
    border: 3px solid rgba(0, 0, 0, 0.12);
    border-right-color: rgba(0, 0, 0, 0.48);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
.complete-light-result-list {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
    box-sizing: border-box;
    max-height: 296px;
    overflow-y: auto;
    background: #fff;
    list-style: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
[data-position="below"] .complete-light-result-list {
    margin-top: -1px;
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
    padding-bottom: 8px;
}
[data-position="above"] .complete-light-result-list {
    margin-bottom: -1px;
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
    padding-top: 8px;
}
.complete-light-result {
    cursor: default;
    padding: 12px 12px 12px 48px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: 12px;
}
.complete-light-result:hover,
.complete-light-result[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.06);
}
